@import '../../abstracts';

.section-header {
  @extend %section-header;
}

form {
  @extend %container;
  @extend %center;
  flex-direction: column;
  > * {
    margin: 15px 0;
  }
  .loading-button {
    @include loading-button("Add Drink", "Drink added", 1s);
    margin: 40px 0;
    align-self: center;
    transform: translateX(5px);
  }
}

.section-title {
  @extend %section-title;
}

.pumps {
  @media (min-width: 900px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.pump {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.pump-title {
  width: 200px;
  align-self: center;
  p {
    text-align: center;
    font-size: 20px;
    margin: 0 auto 3px auto;
    color: $dark-color;
  }
  .hr {
    width: 200px;
    height: 2px;
    background-color: $dark-color;
    margin: 0 auto;
  }
}

.form-control {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  h2 {
    font-family: es-thin;
    margin: 0;
    align-self: center;
  }
  input {
    margin: 5px 0 5px 20px;
    width: 225px;
    height: 40px;
    font-size: 14px;
    color: $dark-color;
  }
  select {
    width: 77px;
    height: 35px;
    @include linear-gradient(white, lightgrey);
    margin-left: 20px;
    cursor: pointer;
  }
  .name-input {
    @media (min-width: 900px) {
      width: 540px;
    }
  }
  .image-input {
    @media (min-width: 900px) {
      width: 450px;
    }
  }
}

.back-button {
  @extend %back-button;
  align-self: center;
  cursor: pointer;
}
