<div class="section-header">
  <h1>EDIT A DRINK</h1>
</div>
<div class="container">

  <!-- SELECT -->
  <div class="section-title">
    <h2>SELECT YOUR DRINK</h2>
  </div>

  <input type="text" name="test" >

  <button type="button" class="delete">DELETE</button>

  <!-- IMAGE -->
  <div class="section-title">
    <h2>CHOOSE IMAGE</h2>
  </div>

  <label for="image">Enter image url:</label>
  <input type="text" name="image" placeholder="http://example-image.com">

  <!-- INGREDIENTS -->
  <div class="section-title">
    <h2>INGREDIENTS</h2>
  </div>

  <div class="pump">
    <div class="pump-title">
      <p>Pump 1:</p>
      <hr>
    </div>
    <label for="drink">Drink:</label>
    <input type="text" name="drink">
    <label for="amount">QTY:</label>
    <select class="select-amount" name="amount">
      
    </select>
  </div>

</div><!-- /container -->
