<div class="section-header">
  <h1>EDIT A DRINK</h1>
</div>
<form #editDrinkForm="ngForm" (ngSubmit)="editDrink(editDrinkForm); false">

  <!-- SELECT -->
  <div class="section-title">
    <h2>SELECT YOUR DRINK</h2>
  </div>

  <select (change)="onChange($event.target.value)">
    <option *ngFor="let drink of drinks" value="{{drink.name}}">{{drink.name}}</option>
  </select>

  <button type="button" class="delete" (click)="deleteDrink()">DELETE</button>

  <!-- NAME -->
  <div class="section-title">
    <h2>NAME YOUR DRINK</h2>
  </div>
  <div class="form-control">
    <h2 for="name">Name:</h2>
    <input type="text" name="name" ngModel>
  </div>

  <!-- IMAGE -->
  <div class="section-title">
    <h2>CHOOSE IMAGE</h2>
  </div>
  <div class="form-control">
    <h2>Enter image url:</h2>
    <input type="text" name="image" value="{{selectedDrink?.img}}">
  </div>

  <!-- INGREDIENTS -->
  <div class="section-title">
    <h2>INGREDIENTS</h2>
  </div>

  <div class="pump">
    <div class="pump-title">
      <p>Pump 1:</p>
      <div class="hr"></div>
    </div>
    <div class="form-control">
      <h2>Drink:</h2>
      <input type="text" name="drink" value="{{selectedDrink?.name}}">
    </div>
    <div class="form-control">
      <h2>QTY:</h2>
      <select class="select-amount">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </div>
  </div> <!-- /pump -->

  <div class="pump">
    <div class="pump-title">
      <p>Pump 2:</p>
      <div class="hr"></div>
    </div>
    <div class="form-control">
      <h2>Drink:</h2>
      <input type="text" name="drink" value="{{selectedDrink?.name}}">
    </div>
    <div class="form-control">
      <h2>QTY:</h2>
      <select class="select-amount">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </div>
  </div> <!-- /pump -->

  <div class="pump">
    <div class="pump-title">
      <p>Pump 3:</p>
      <div class="hr"></div>
    </div>
    <div class="form-control">
      <h2>Drink:</h2>
      <input type="text" name="drink" value="{{selectedDrink?.name}}">
    </div>
    <div class="form-control">
      <h2>QTY:</h2>
      <select class="select-amount">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </div>
  </div> <!-- /pump -->

  <div class="pump">
    <div class="pump-title">
      <p>Pump 4:</p>
      <div class="hr"></div>
    </div>
    <div class="form-control">
      <h2>Drink:</h2>
      <input type="text" name="drink" value="{{selectedDrink?.name}}">
    </div>
    <div class="form-control">
      <h2>QTY:</h2>
      <select class="select-amount">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </div>
  </div> <!-- /pump -->

  <div class="pump">
    <div class="pump-title">
      <p>Pump 5:</p>
      <div class="hr"></div>
    </div>
    <div class="form-control">
      <h2>Drink:</h2>
      <input type="text" name="drink" value="{{selectedDrink?.name}}">
    </div>
    <div class="form-control">
      <h2>QTY:</h2>
      <select class="select-amount">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </div>
  </div> <!-- /pump -->

  <div class="loading-button">
    <button type="submit" id="loading-checkbox"></button>
    <label for="loading-checkbox"></label>
  </div>

  <div class="back-button" (click)="goBack()">BACK</div>

</form>
