@import '../../abstracts';

div .active {
  transform: translateX(0);
}

div .hidden {
  display: none;
}

.header {
  min-width: 375px;
  height: 350px;
  background-image: url("../../assets/images/countertop.png");
  background-position: bottom;
  background-size: cover;
  padding: 10px;
  @extend %center;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  @extend %title;
  margin-bottom: 40px;
}

.hamburger {
  @extend %hamburger;
  cursor: pointer;
}

.hamburger-x {
  border-color: $primary-color;
  background-color: white;
  .line {
    background-color: $primary-color;
  }
  .line:nth-child(1) {
    transform: rotate(45deg) translate(6.5px, 6.5px);
  }
  .line:nth-child(2) {
    opacity: 0;
  }
  .line:nth-child(3) {
    transform: rotate(-45deg) translate(6.5px, -6.5px);
  }
}

.drinks {
  margin: -40px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.drink {
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
  @media (min-width: 670px) {
    width: 450px;
    height: 300px;
    margin: 15px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .name {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: fade-out($primary-color, .3);
    h2 {
      display: inline-block;
      font-size: 30px;
      letter-spacing: 2px;
      width: 100%;
      text-align: center;
      color: $light-color;
      margin: 10px 0;
      font-family: es-light;
    }
  }
}

.nav {
  z-index: 100;
  position: fixed;
  background-color: $light-color;
  @extend %center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: all .7s ease-in-out;
  border: 7.5px solid $primary-color;
  .hr {
    width: 260px;
    height: 2px;
    background-color: $dark-color;
    margin: 20px;
  }
  h1 {
    color: $primary-color;
    cursor: pointer;
  }
}
