<div class="section-header">
  <h1>{{drinkToDisplay?.name}}</h1>
</div>
<div class="container">
  <div class="drink-image">
    <div class="outer-border"></div>
    <img src="{{drinkToDisplay?.img}}" alt="drink">
    <div class="img-link" routerLink="/edit-drink"><p>edit</p></div>
    <div class="img-link ingredients" (click)="toggleMove()">ingredients</div>
  </div>

  <table [@slideIn]='ingredientsVisibility'>
    <tr>
      <th>Pump</th>
      <th>Beverage</th>
      <th>Amt</th>
    </tr>
    <tr *ngFor="let ingredient of drinkToDisplay?.ingredients; let i = index">
      <td>{{i}}</td>
      <td>{{ingredient.drink}}</td>
      <td>{{ingredient.amt}}</td>
    </tr>
  </table>

  <div class="section-title">
    <h2>SELECT A SIZE</h2>
  </div>

  <div class="size-options">
    <div class="size small" (click)="setSize('small')" [class.selected]="selectedSmall">
      <img src="../../assets/images/whiteRussian.png" alt="small glass">
      <h2>40ml</h2>
    </div>
    <div class="size medium" (click)="setSize('medium')" [class.selected]="selectedMedium">
      <img src="../../assets/images/cocktail.png" alt="medium glass">
      <h2>200ml</h2>
    </div>
    <div class="size large" (click)="setSize('large')" [class.selected]="selectedLarge">
      <img src="../../assets/images/amf.png" alt="large glass">
      <h2>500ml</h2>
    </div>
  </div>

  <div class="loading-button">
    <div id="button-animation">POUR DRINK</div>
    <button type="submit" id="loading-checkbox" (click)="pourDrink(drinkToDisplay.ingredients)"></button>
    <label id="label" for="loading-checkbox"></label>
  </div>

  <div class="back-button" (click)="goBack()">BACK</div>
</div>
